<html>
    <head></head>
    <body>
        <div>
           {{# each items}}
           <article class="item">
               <div>Name: {{this.name}}</div>
               <div>Last Name: {{this.lastname}}</div>
               <div>Email: {{this.email}}</div>
               <div>password: {{this.password}}</div>
           </article>
        </div>
    </body>
</html>